{% extends 'base.html' %}

{% block title %}Posts | {{ SITENAME }}{% endblock %}

{% block content %}
	<h1 class="title">Posts</h1>
	<div class="content">
		{% for year, articles in dates | groupby('date.year') | sort(reverse=True) %}
		<h2><a href="/{{ year }}/">{{ year }}</a></h2>
		<ul>
			{% for article in articles | sort(attribute='date', reverse=True) %}
			<li><a href="/{{ article.url }}">{{ article.title }}</a> &raquo; {{ article.locale_date }}</li>
			{% endfor %}
		</ul>
		{% endfor %}
	</div>
	<div id="back-to-home"><a href="/">&laquo; Início</a></div>
{% endblock %}
