{% extends 'base.html' %}

{% block title %}{{ SITENAME }}{% endblock %}
{% block description %}{{ INDEX_DESCRIPTION }}{% endblock %}

{% block meta %}
	<!-- Open Graph -->
	<meta property="og:title" content="{{ SITENAME }}">
	<meta property="og:description" content="{{ INDEX_DESCRIPTION }}">
	<meta property="og:image" content="{{ SITEURL }}/{{ ICONS_PATH }}/avatar.png">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ SITEURL }}">
{% endblock %}

{% block content %}
	{% for article in articles[:ARTICLES_HOME] %}
		<h1 class="title"><a href="{{ article.url }}" title="{{ article.title | striptags }}">{{ article.title }}</a></h1>
		<div class="info">
			<time datetime="{{ article.date }}">{{ article.locale_date }}</time>
			{% if article.readtime %}
				<span> · {{ article.readtime.minutes }} {{ article.readtime.text }}</span>
			{% endif %}
		</div>
		<div class="content summary">
			<p>{{ article.summary | striptags | replace(' …', ' ...') | replace(' ...', '&nbsp;&#8230;') }}</p>
		</div>
		{% if not loop.last %}<br>{% endif %}
	{% endfor %}
	<div id="view-archives"><a href="/archive/">Mais Posts &raquo;</a></div>
{% endblock %}
